body {
  background: url("/src/donut.jpg") no-repeat;
  background-size: cover;
  font-family: "Ultra", serif;
}

.nav {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  padding: 1rem;
}

.nav button {
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 4px 4px #d2738c;
  font-family: "Ultra", serif;
}

.nav button:hover {
  cursor: pointer;
  box-shadow: none;
  transform: translateY(4px);
  background-color: #e393a8;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 1.5rem;
  width: 50%;
  margin: auto;
  margin-top: 5rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
}

#content h1,
.donut-title {
  margin: 0;
  font-weight: 400;
  text-shadow: 4px 4px #d2738c;
}

/* MENU */
.menu {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  flex-wrap: wrap;
  margin: auto;
  padding: 1.5rem;
}

.donut-title {
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
}

.card {
  width: 250px;
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
}

.donut-imgs {
  width: 180px;
  height: 300px;
}

@media (max-width: 880px) {
  body {
    background: url("/src/donut.jpg") repeat;
    background-size: contain;
  }
}
